---
import LayoutWrapper from "../../components/layout/LayoutWrapper.astro";
import ExhibitionsBox from "../../components/ExhibitionsBox.astro";

const exhibitions = {
  current: [
    {
      image: "/exhibition/image-1.png",
      place: "New York -- Town Hall -- 2022",
      data: {
        month: "Jun",
        date: "16",
      },
      title: "Independent Beauty",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.",
    },
    {
      image: "/exhibition/image-2.png",
      place: "Berlin -- Kunsthalle -- 2022",
      data: {
        month: "Mar",
        date: "02",
      },
      title: "In Humanity We Beauty Trust",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.",
    },
    {
      image: "/exhibition/image-3.png",
      place: "Berlin -- Kunsthalle -- 2022",
      data: {
        month: "Feb",
        date: "01",
      },
      title: "Berlinat Night",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.",
    },
  ],
  past: [
    {
      image: "/exhibition/image-4.png",
      place: "Paris -- Le Louvre -- 2021",
      data: {
        month: "Dec",
        date: "10",
      },
      title: "Art Beyond Borders",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.",
    },
    {
      image: "/exhibition/image-5.png",
      place: "Tokyo -- National Museum -- 2021",
      data: {
        month: "Sep",
        date: "25",
      },
      title: "Timeless Wonders",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore.",
    },
    {
      image: "/exhibition/image-6.png",
      place: "London -- Tate Modern -- 2020",
      data: {
        month: "Nov",
        date: "13",
      },
      title: "Expression of Modernity",
      descption:
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.",
    },
  ],
};
---

<LayoutWrapper>
  <section class="hero-section">
    <div class="space-y-2">
      <h1>Exhibitions</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
    </div>
    <div>
      <svg
        class="mx-auto"
        width="20"
        height="164"
        viewBox="0 0 20 164"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 154L18.607 152.57L11 160.15L11 0L9 0L9 160.15L1.427 152.57L0 154L10 164L20 154Z"
          fill="#DB574D"></path>
      </svg>
    </div>
  </section>
  <section class="divide-y divide-border">
    <div>
      <div class="custom-container w-full space-y-24">
        <h3 class="section-title">Current <span>Exhibitions</span></h3>
        <ul class="divide-y divide-border">
          <ExhibitionsBox exhibitions={exhibitions.current} />
        </ul>
      </div>
    </div>
    <div class="pt-24">
      <div class="custom-container w-full space-y-24">
        <h3 class="section-title">Past <span>Exhibitions</span></h3>
        <ul class="divide-y divide-border">
          <ExhibitionsBox exhibitions={exhibitions.past} />
        </ul>
      </div>
    </div>
  </section>
</LayoutWrapper>

<style>
  .hero-section {
    @apply w-full text-center py-40 space-y-14;
  }

  .hero-section h1 {
    @apply text-primary text-heading-xl leading-none;
  }

  .hero-section p {
    @apply text-default text-text-l max-w-xl mx-auto font-medium;
  }

  .section-title {
    @apply uppercase text-default text-heading-1;
  }

  .section-title span {
    @apply text-primary;
  }
</style>
